body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 700px;
    margin: 0 auto;
    position: fixed; /* Fija el header en la parte superior */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white; /* Asegúrate de que el fondo sea visible */
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

.tittle1 {
    font-family: "Mogra", serif;
    font-size: 40px;
    padding-left: 40px;
}

.personalph img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.main {
    border-radius: 5%;
    width: 700px;
    margin: 177px auto 0; /* Añade margen superior para evitar que el contenido se superponga con el header */
    background-color: rgb(226, 226, 226);
    height: 825px;
    position: relative; /* Necesario para posicionar .tittlephoto */
}

.tittlephoto {
    font-family: "Mogra", serif;
    width: 80%;
    height: 10%;
    position: absolute;
    top: 20px; /* Separado por 20px del tope de arriba */
    left: 50%;
    transform: translateX(-50%); /* Centrado horizontalmente */
}

.photo {
    width: 80%;
    height: 66%;
    position: absolute;
    top: 136px; /* Separado por 20px del tope de arriba */
    left: 50%;
    transform: translateX(-50%);
}

.paragraph {
    width: 80%;
    height: 20%;
    position: absolute;
    top: 700px; /* Separado por 20px del tope de arriba */
    left: 50%;
    transform: translateX(-50%);
}

.main .photo img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}
.main1 {
    border-radius: 5%;
    width: 700px;
    margin: 20px auto 0; /* Añade margen superior para evitar que el contenido se superponga con el header */
    background-color: rgb(226, 226, 226);
    height: 825px;
    position: relative; /* Necesario para posicionar .tittlephoto */
}
.main1 .photo img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}